<div class="container mt-3">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center">{{action}} Usuario</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

          <div>
            <label for="rut" class="form-label">RUT:</label>
            <input id="rut" name="rut" formControlName="rut" class="form-control" type="text" />
          </div>

          <div>
            <label for="nombre" class="form-label">Nombre:</label>
            <input id="nombre" name="nombre" class="form-control" formControlName="nombre" 
            type="text" />
          </div>

          <div>
            <label for="correo" class="form-label">Correo:</label>
            <input id="correo" name="correo" class="form-control" formControlName="correo"
            type="email" />
          </div>

          <!-- <div>
            <label for="clave" class="form-label">Clave:</label>
            <input id="clave" name="clave" class="form-control" formControlName="clave" 
            type="password" />
          </div> -->

           <div>
              <label for="role">Rol:</label>
              <select class="form-select" aria-label="Default select example" id="role" 
              name="role" formControlName="role">
                  <option selected>Seleccione</option>
                  <option value="ADMIN_ROLE">Admin</option>
                  <option value="BODEGA_ROLE">Bodeguero</option>
                  <option value="CLIENTE_ROLE">Cliente</option>
              </select>
            </div>
          <div class="d-grid gap-2 mt-3">
            <button type="submit" [disabled]="userForm.invalid" class="btn btn-success">
              Crear Usuario
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>