<div class="container">
  <h1>Estos son nuestros productos:</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mb-4" *ngFor="let product of productList; let i = index;">
      <div class="card">
        <img class="card-img-top" [src]="product.image" [alt]="product.title">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price | currency:'USD':'symbol' }}</p>
            <button type="button" class="btn btn-outline-primary" 
              (click)="navegate(product.id)">Details
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
