<div class="container">
    <br>
    <div class="card text-center">
        <div class="card-body">
            <h2>Factura {{invoice.name}}</h2>
            <p>{{invoice.id}}. {{invoice.name}}</p>
            <p>{{empresa}}</p>
            <img [src]="imagenUrl" style="height: 120px;">
            <button (click)="mostrarMensaje()">Haz clic</button>

        </div>
    </div>
    <br>
    
    <div>
        <h3>Datos del Cliente</h3>
        <ul>
            <li>{{invoice.client.name}} {{invoice.client.lastname}}</li>
            <li>{{invoice.client.address.country}} / {{invoice.client.address.city}}</li>
            <li>{{invoice.client.address.street}} {{invoice.client.address.number}}</li>
        </ul>
    </div>

    <div>
        <h3>Datos de la Empresa</h3>
        <ul>
            <li>{{invoice.company.name}}</li>
            <li>{{invoice.company.number}}</li>
        </ul>
    </div>

    <div>
        <h4>Detalle de la factura</h4>

        @if(invoice.items.length > 0) {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @for (item of invoice.items; track $index) {
                <tr>
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.product | uppercase}}</td>
                    <td>$ {{item.price | number }}</td>
                    <td>{{item.quantity}}</td>
                </tr>
                }
            </tbody>
        </table>
        } @else {
            <div class="alert alert-warning">No tiene items la factura!</div>
        }

        <div class="text-end">
            <h4>Total:</h4>
            <p>$ {{total | number}}</p>
        </div>
    </div>
</div>