<div class="container">
  <br>
  <div *ngIf="role === 'ADMIN_ROLE'">
    <a class="btn btn-success" [routerLink]="['/product/create']">
      Agregar producto
    </a>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mb-4" *ngFor="let product of listProducts; let i = index;">
      <div class="card">
        <img class="card-img-top mx-auto d-block" [src]="product.imagen" [alt]="product.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ product.nombre }}</h5>
            <p class="card-text">{{ product.precio | currency: 'CLP' }}</p>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-primary">Details</button>
              <div *ngIf="role === 'ADMIN_ROLE'">
                <button 
                  type="button" class="btn btn-warning" 
                  [routerLink]="['/product/edit', product._id]">
                  Actualizar
                </button>
                <button type="button" class="btn btn-danger" 
                  (click)="deleteProducto(product._id)">
                  Eliminar
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="listProducts && listProducts.length === 0" class="alert alert-info text-center mt-3">
    No hay productos disponibles.
  </div>
</div>