<div class="general-styles">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">Contable</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="" [ngClass]="{active: menuOption == 'home'}"
              (click)="onOption('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" [ngClass]="{active: menuOption == 'login'}"
              *ngIf="!isAuthenticated()" (click)="onOption('login')">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" [ngClass]="{active: menuOption == 'register'}"
              *ngIf="!isAuthenticated()" (click)="onOption('register')">Registro</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="profile" [ngClass]="{active: menuOption == 'profile'}"
              *ngIf="isAuthenticated()" (click)="onOption('profile')">Perfil</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="user" [ngClass]="{active: menuOption == 'user'}"
              *ngIf="isAuthenticated() && role === 'ADMIN_ROLE' " (click)="onOption('user')">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bodega" [ngClass]="{active: menuOption == 'bodega'}"
              *ngIf="isAuthenticated() && role && ['ADMIN_ROLE', 'BODEGA_ROLE'].includes(role)" 
              (click)="onOption('bodega')">Bodega</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="product" [ngClass]="{active: menuOption == 'product'}"
              (click)="onOption('product')">Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
              *ngIf="isAuthenticated()" (click)="logout()">Cerrar sesión</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>